/* Reset some default styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #b4e3f6;
}

/* Style the header */
h1 {
    text-align: center;
    padding: 20px;
    background-color: #383535;
    color: rgb(8, 235, 171);
    margin: 0;
}

/* Style the member list */
.member-list {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style individual member details */
.member {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #4292d3;
    border-radius: 5px;
    background-color: #eaf3c4;
}

/* Style member names */
.member h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #4292d3;
    font-weight: 800;
    margin: 0;
}

/* Style member details */
.member p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(7, 58, 57);
    margin-top: 10px;
}
.photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    margin-left: 38rem;
    margin-top: -8.5rem;
}

.photo img{
    border: 2px solid rgb(225, 179, 179);
    border-radius: 10px;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
}